title = "Hero"
url = "/hero"
layout = "default"
==

<div class="container-fluid background" 
    style=" background-image: url({{this.theme.hero_background|media}})"
>    
    <div class="container">
        <div class="col-md-12" id="herocontain">
            <div class="dataaa">
                <div class="row w-100">
                    <div class="col-md-12 col-lg-12 col-xs-12" id="titlesect">
                        <h1 class="titlemain">SOMOS</h1>
                        <h1 class="titlemain">VERA ARQUITECTURA</h1>
                    </div>
                </div>
                <div class="row w-100" id="divsec">
                    <div class="col-md-12 col-lg-12" id="titlesect">
                        <img src="{{ 'assets/images/divisor.png'|theme }}" alt="divisor">
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-6 col-lg-6 col-xs-6 wrapper" id="welcome">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Tincidunt vel eu sagittis scelerisque tortor porta a. 
                            Tellus lectus odio ullamcorper aliquet odio 
                            vestibulum gravida gravida. 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 btnctn" id="">
                        <li class="nav-item">
                            <a class="nav-link btn-ctn hero" id="ntprj" href="#">Nuestros proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link heroalter"  id="btnct" href="#">Contactanos</a>
                        </li>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
