
<script type="text/javascript">
    $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:25,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:3
                },
                1500:{
                    items:5
                }
            }
        })
    });
</script>

<div class="container-fluid">
    <div class="container">
        <section class="sections-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title projects">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-title projects">
                        <h2 class="subtitle">Algunos de nuestros</h2>
                        <h2  class="subtitle">proyectos realizados</h2>
                    </div>
                </div>
            </div>
            <div class="row divisor projects">
                <img src="{{ 'assets/images/divisor.png'|theme }}" alt="divisor">
            </div>
        </section>
    </div>
    <div class="row justify-content-center" id="carouselprj">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme services-ctn">
                <div class="item-prj">
                   <footer id="footerprj">
                   <div class="titleprj">
                        <h4> Phoenix Family House </h4>
                    </div> 
                    <div class="ctn-prj">
                        <span>
                            <i data-feather="map-pin"></i><span class="m-1">Caaguazú, Paraguay</span>
                        </span>
                    </div> 
                   </footer>
                </div>
                <div class="item-prj">
                   <footer id="footerprj">
                   <div class="titleprj">
                        <h4> Phoenix Family House </h4>
                    </div> 
                    <div class="ctn-prj">
                        <span>
                            <i data-feather="map-pin"></i><span class="m-1">Caaguazú, Paraguay</span>
                        </span>
                    </div> 
                   </footer>
                </div>
                <div class="item-prj">
                   <footer id="footerprj">
                   <div class="titleprj">
                        <h4> Phoenix Family House </h4>
                    </div> 
                    <div class="ctn-prj">
                        <span>
                            <i data-feather="map-pin"></i><span class="m-1">Caaguazú, Paraguay</span>
                        </span>
                    </div> 
                   </footer>
                </div>
                <div class="item-prj">
                   <footer id="footerprj">
                   <div class="titleprj">
                        <h4> Phoenix Family House </h4>
                    </div> 
                    <div class="ctn-prj">
                        <span>
                            <i data-feather="map-pin"></i><span class="m-1">Caaguazú, Paraguay</span>
                        </span>
                    </div> 
                   </footer>
                </div>
                <div class="item-prj">
                   <footer id="footerprj">
                   <div class="titleprj">
                        <h4> Phoenix Family House </h4>
                    </div> 
                    <div class="ctn-prj">
                        <span>
                            <i data-feather="map-pin"></i><span class="m-1">Caaguazú, Paraguay</span>
                        </span>
                    </div> 
                   </footer>
                </div>
                <div class="item-prj">
                   <footer id="footerprj">
                   <div class="titleprj">
                        <h4> Phoenix Family House </h4>
                    </div> 
                    <div class="ctn-prj">
                        <span>
                            <i data-feather="map-pin"></i><span class="m-1">Caaguazú, Paraguay</span>
                        </span>
                    </div> 
                   </footer>
                </div>
                <div class="item-prj">
                   <footer id="footerprj">
                   <div class="titleprj">
                        <h4> Phoenix Family House </h4>
                    </div> 
                    <div class="ctn-prj">
                        <span>
                            <i data-feather="map-pin"></i><span class="m-1">Caaguazú, Paraguay</span>
                        </span>
                    </div> 
                   </footer>
                </div>
            </div>
        </div>
    </div>
</div>